* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 18px;
  font-family: "Lato", sans-serif;
}

.header {
  height: 100vh;
  color: white;
  position: relative;
}

.primary-nav {
  display: flex;
  justify-content: space-between;
  position: fixed;
  width: 100%;
  align-items: center;
  padding: 10px 40px;
  z-index: 100;
}

.ul-nav {
  display: flex;
  list-style: none;
  gap: 20px;
}

.video-header {
  height: 100%;
  width: 100%;
  object-fit: cover;
  filter: saturate(100%);
}

.first-wrapper {
  display: flex;
  align-items: center;
  gap: 35px;
}

.logo {
  text-transform: uppercase;
  letter-spacing: 2px;
}

.li-nav {
  font-size: 80%;
  font-weight: 700;
}

.header-section {
  position: absolute;
  bottom: 0;
  padding: 25px 50px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.heading-h3, .items-h3 {
  font-size: 80%;
  font-weight: 300;
}

.heading-h2, .items-h2 {
  font-weight: 700;
  font-size: 180%;
}

.items-h2{
  font-weight: 800;
  font-size: 100%;
}

.button-secondary,
.button-primary {
  font-size: 85%;
  font-weight: 300;
  border-radius: 100px;
  width: 150px;
  background: white;
  border: none;
  padding: 12px 0;
  transition: 0.2s all;
}

.button-secondary {
  background: transparent;
  text-transform: uppercase;
  border: 1px solid white;
  color: white;
}

.button-primary:hover {
  cursor: pointer;
  background: black;
  color: white;
}

.button-secondary:hover {
  cursor: pointer;
  background: white;
  color: black;
}

.search {
  font-size: 85%;
  font-weight: 300;
  border-radius: 100px;
  padding: 12px 20px;
  width: 280px;
  background: transparent;
  border: 1px solid white;
  outline: none;
  color: white;
}

.second-wrapper {
  display: flex;
  gap: 25px;
}

.button-icon,
.button-on-wide-screen {
  font-size: 140%;
  background: transparent;
  border: none;
  color: white
}

.button-icon {
  display: none;
}

.button-on-wide-screen {
  display: block;
}

.button-icon:hover,
.button-on-wide-screen:hover {
  cursor: pointer;
}

.search-wrapper {
  position: relative;
}


.icon-in-button {
  position: absolute;
  top: 29%;
  right: 0;
  padding-right: 25px;


}

.onze-producten{
  padding: 40px;
  display: flex;
  flex-direction: column;
  gap: 18px;
}

.items-h3{
  font-size: 70%;
  color: #737379
}

.items{
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.products{
  list-style: none;
  display: flex;
  gap: 4px;
}

.product{
  height: 415px;
  width: 25%;
}

.img-product{
  width: 100%;
  height: 85%;
  object-fit: cover;
}

.product-h5{
  font-size: 85%;
  font-weight: 500;
  

}

.Todoroki {
  position: relative; /* Position the text relative to its container */
  left: 35px; /* Adjust the distance from the left as needed */
}

@media screen and (max-width:1000px) {

  .li-nav,
  .search-wrapper,
  .button-secondary {
    display: none;
  }

  .primary-nav,
  .header-section {
    padding: 10px 20px;
    padding-bottom: 25px;
  }

  .logo {
    font-size: 200%;
    /* Adjust the percentage as needed */
    letter-spacing: 3px;
  }

  .heading-h3 {
    font-size: 120%;
    /* Increase font size for heading-h3 */
  }

  .heading-h2 {
    font-size: 235%;
    /* Increase font size for heading-h2 */
  }

  .button-primary {
    font-size: 120%;
    /* Increase font size for primary button */
    width: 190px;
    /* Adjust width if necessary */
    height: 50px;
  }

  .button-icon {
    display: block;
  }

  .button-on-wide-screen {
    display: none;
  }

}
